<main>
    <h1>Character Finder</h1>
    <p>This is a webpage that lets you search the Marvel Database for your favourite character</p>
    <form action="/search" method="post">
        <label id="searchBoxLabel">Search Your Character:</label><br>
        <input type="search" name="searchTerm" id="searchBox" placeholder="search..."><br>
        <button class="submitBtn" type="submit">Submit</button>
    </form>
</main>