<div class="wrapperDiv">
    <div id="errorDiv" class="hidden">

    </div>
    <h1>Palindrome Checker</h1>
    <form id="palindromeForm" method="post">
        <label for="stringInput">Enter your string:</label><br>
        <textarea name="phrase" id="stringInput" cols="30" rows="10" placeholder="Enter your string..."></textarea><br>
        <button class="submitBtn" type="submit">Check</button>
    </form>
    <div id="palindromeAttempts">
        <ol id="attempts"></ol>
    </div>
</div>